<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (products.length> 0) { %>
                    <ul>
                        <% products.forEach(({productData, quantity, price})=> { %>
                            <li>
                                <p>
                                    <%= productData.title %> (<%= quantity %>) x $<%= productData.price %>
                                </p>
                                <form action="/cart-delete-product" method="POST">
                                    <input type="hidden" name="productId" value="<%= productData.id %>">
                                    <input type="hidden" name="productPrice" value="<%= productData.price %>">
                                    <button class="btn">Delete</button>
                                </form>
                            </li>
                            <% }) %>
                    </ul>
                    <% } else { %>
                        <h1>No products in Cart!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>