<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (products.length> 0) { %>
                    <ul>
                        <% products.forEach(({productId: { title, _id, price }, quantity })=> { %>
                            <li>
                                <p>
                                    <%= title %> (<%= quantity %>) x $<%= price %>
                                </p>
                                <form action="/cart-delete-product?quantity=1" method="POST">
                                    <input type="hidden" name="productId" value="<%= _id %>">
                                    <input type="hidden" name="productPrice" value="<%= price %>">
                                    <button class="btn">Delete one</button>
                                    <input type="hidden" value="<%= csrfToken %>" name="_csrf" />
                                </form>

                                <form action="/cart-delete-product?quantity=all" method="POST">
                                    <input type="hidden" name="productId" value="<%= _id %>">
                                    <input type="hidden" name="productPrice" value="<%= price %>">
                                    <button class="btn">Delete all</button>
                                    <input type="hidden" value="<%= csrfToken %>" name="_csrf" />
                                </form>
                            </li>
                            <% }) %>
                    </ul>
                    <a class="btn" href="/checkout">Order now</a>
                    <!-- <form action="/create-order" method="POST">
                        <button class="btn">Order now</button>
                        <input type="hidden" value="<%= csrfToken %>" name="_csrf" />
                    </form>
                    <% } else { %>
                        <h1>No products in Cart!</h1>
                        <% } %> -->
            </main>
            <%- include('../includes/end.ejs') %>